akkaServer {
    port = 6006
    host = "127.0.0.1"
    hostname = "localhost"
    pluginName = "captcha"
    timeoutSeconds = 60
    file_chunk_size = 100000
}

appServerEndpoint {
    url = "http://127.0.0.1:8080/plugin/registerPlugin"
    timeoutSeconds = 60
}

plugin {
    fileSystemRepository {
        cacheFolder: "/tmp"
    }
}

